.jumbotron{

    background-image: url(../images/hands.jpg);

    background-position: center;

    background-attachment: fixed;

    background-size: cover;

    min-height: 100vh;
	
	text-align: justify;
	

	/*filter: opacity(30%);*/
}
body{
	background-image:url(../images/hero_4.jpg);
}

#top5countries{
	color: white;
	font-size: large;
}

.navbar {
	background-color: white;
}



